@import '~antd/dist/antd.css';
[data-theme="dark"] .site-layout-sub-header-background {
    background: #141414;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}